player-connection-mode=Listen
player-connection-guid=452906698
player-connection-debug=0
player-connection-project-name=Project Island Boy
player-connection-ip=11.20.41.3
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=b3c30c97e4ff4b819d19d1a64b6fa3a5
